  <!-- Footer -->
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h3 id="contact">Contact</h3>
              <ul class="list-unstyled">
                <li><a href="tel:0542786742">
                    <h6>+(1)555 555 5555</h6>
                  </a></li>
                <li><a id="env" href="mailto:2703066@collegelacite.ca"><span
                      class="glyphicon glyphicon-envelope"></span>
                    <h6> Envoyer un e-mail</h6></a></li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">

              <h3><span class="glyphicon glyphicon-map-marker"></span>Localisation</h3>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11198.024034032962!2d-75.6268076!3d45.4394585!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5045d05b7789c105!2zQ29sbMOoZ2UgTGEgQ2l0w6k!5e0!3m2!1sfr!2sca!4v1670174043063!5m2!1sfr!2sca"
                width="100%" height="150px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

            </div> 
          </div>
          <div class="col-md-3">
            <h4>Follow Us</h4>
            <ul class="social-network social-circle">
              <li><a href="https:www.Facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https:www.Linkedin.com" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 copy">
            <p class="text-center">&copy; Copyright 2022 - STUM. Tout Droit reservé.</p>
          </div>
        </div>


      </div>
    </div>
  </footer>
  <!-- /.container -->
  </footer>