  <!-- Footer -->
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h3 id="contact">Contact</h3>
              <ul class="list-unstyled">
                <li><a href="tel:0542786742">
                    <h6>+(213)555 555 555</h6>
                  </a></li>
                <li><a id="env" href="mailto:younismessaoudi@outlook.fr"><span
                      class="glyphicon glyphicon-envelope"></span>
                    <h6> Envoyer un e-mail</h6></a></li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <!--Column1-->
             <div class="footer-pad">

              <h3><span class="glyphicon glyphicon-map-marker"></span>Localisation</h3>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.5060085082337!2d-75.62899628255616!3d45.43945850000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce0ff104b131ed%3A0x5045d05b7789c105!2zQ29sbMOoZ2UgTGEgQ2l0w6k!5e0!3m2!1sfr!2sca!4v1667144409975!5m2!1sfr!2scas"
                width="100%" height="150px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

            </div> 
          </div>
          <div class="col-md-3">
            <h4>Follow Us</h4>
            <ul class="social-network social-circle">
              <li><a href="https:www.Facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https:www.Linkedin.com" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 copy">
            <p class="text-center">&copy; Copyright 2022 -HikeWith . Tout Droit reservé.</p>
          </div>
        </div>


      </div>
    </div>
  </footer>
  <!-- /.container -->
  </footer>