  <!-- Footer -->
  <footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">
              <h3 id="contact">Contact</h3>
              <ul class="list-unstyled">
                <li><a href="tel:0542786742">
                    <h6>+(1)555 555 5555</h6>
                  </a></li>
                <li><a id="env" href="mailto:2703066@collegelacite.ca"><span
                      class="glyphicon glyphicon-envelope"></span>
                    <h6> Send an e-mail</h6></a></li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <!--Column1-->
            <div class="footer-pad">

              <h3><span class="glyphicon glyphicon-map-marker"></span>Location</h3>
            </div> 
          </div>
          <div class="col-md-3">
            <h4>Follow Us</h4>
            <ul class="social-network social-circle">
              <li><a href="https:www.Facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https:www.Linkedin.com" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 copy">
            <p class="text-center">&copy; Copyright 2022 - HikeWith. All rights reserverd.</p>
          </div>
        </div>


      </div>
    </div>
  </footer>
  <!-- /.container -->
  </footer>