<div id="logincontainer">
<form id="form-auth" class="form-conx-Ins">
     
     <h3 class="titel-form">Login</h3>
    
    
    <div class="inputs">
      <input type="text" placeholder="Username"  class="form-control" id="input-nom-utilisateur"/>
      <div id="username-message" class="u-message "></div>
      <input type="password" placeholder="password"  class="form-control" id="input-mot-de-passe">
      <div id="password-message" class="p-message "></div>
    </div>
    
    <p class="inscription">I don't have an account <a href="/inscription">Create one.</a></p>
    <div align="center">
      <button type="submit"  >Login</button>
    </div>
  </form>
</div>

