<div id="logincontainer">
    <form id="form-auth" class="form-conx-Ins">

        <h3 class="titel-form">Inscription</h3>


        <div class="inputs">
            <input type="text" class="form-control" placeholder="Last name" id="input-nom"/>
            <input type="text" class="form-control" placeholder="Name" id="input-prenom"/>
            <input type="text" class="form-control" placeholder="Username" id="input-nom-utilisateur"/>
            <input type="email" class="form-control" placeholder="e-mail" id="input-email">
            <input type="password" class="form-control" placeholder="password" id="input-mot-de-passe"/>
        </div>

        <p class="inscription">I have an account.<a href="/connexion"> Log in.</a></p>
        <div align="center">
            <button type="submit" >Sign in</button>
        </div>
    </form>
</div>

